<head>
    <title>
        Tickets Blockchain
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="icon" href="images/icon.png">
    <link rel="stylesheet" href="styles/style1.css">

</head>

<body>

    <header id="header" class="header">

        <div>
            <p id="sentence" class="sentence">
                “Cuando se innova, se corre el riesgo de cometer errores. </br>
                Es mejor admitirlo rápidamente y continuar con otra innovación.” </br>
            </p>
            <p id="author" class="author">
                ― Steve Jobs
            </p>
        </div>
    </header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 elements text-center">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Ticket de Soporte
                    </button>

                </div>
            </div>
        </div>
    </section>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ticket de Soporte</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="index.html">
                        <div class="row">
                            <div class="col-sm-12 col">
                                <div class="btnSend">
                                    <label for="date">Fecha del ticket</label>
                                    <input class="btn dropdown input" type="date" id="date" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col">
                                <div class="form-group">
                                    <label for="sender">Remitente:</label>
                                    <input type="text" class="form-control input" id="sender" placeholder="Nombre del remitente del ticket"
                                        name="sender">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col">
                                <div class="form-group">
                                    <label for="description">Descripción:</label>
                                    <input type="text" class="form-control input" id="description" placeholder="Descripción del ticket"
                                        name="description">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col">
                                <label for="priority">Prioridad</label><br />
                                <select class="btn dropdown" name="priority" id="priority">
                                    <option value="High">Alta</option>
                                    <option value="medium">Media</option>
                                    <option value="low">Baja</option>
                                </select>

                            </div>

                        </div>

                        <br />
                        <div class="row btnSend">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <p class="pmodal">Gracias por preferirnos!</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <p>Copyright © Todos los derechos reservados | 2018</p>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>