body {
    background: url("../images/banner.jpg") no-repeat center top fixed;
    background-size: cover;
    color: black;
}

.navbar {
    background-color: #1c2422;
}

.navOpacity {
    opacity: 0.8;
}

.sentence {
    text-shadow: 2px 2px #1c2422;
    text-align: right;
    padding: 100px 50px 0px 50px;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.85;
}

.author {
    text-shadow: 2px 2px #1c2422;
    opacity: 1;
    text-align: end;
    padding: 0px 50px 100px 50px;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.85;
}

.modal {
    opacity: 0.85;
}

.dropdown {
    border: 1px solid #2f8acd;
    
}

.input {
    background-color: #ffffff !important;
    opacity: 1;
}

.btnSend {
    float: right;
    margin-right: 0rem;
}


.footer {
    text-align: center;
    opacity: 0.7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: #1c2422;
}